.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.menu-container {
  background-color: #fff;
  font-size: 20px;

  @media screen and (max-width: 767px) {
    display: none;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 480px;
    height: 400px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.menu-container.is-open {
  display: block;

  text-align: center;
}

.site-navi {
  @media screen and (max-width: 767px) {
    display: inline-block;
  }
}
